$custom-font-family: 'Ubuntu', PingFang SC, Helvetica, Arial, sans-serif;

body {
	font-family: $custom-font-family;
}
.header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header:before, .header:after {
	display: none;
}

.header {
	.logo-wrapper {
	  .logo {
	    font-family: $custom-font-family;
	    font-size: 34px;
	  }
	}
}

.mobile-navbar .mobile-header-logo .logo {
	font-family: $custom-font-family;
}

.post-copyright {
	display: none;
}

.footer .copyright {
	.power-by, .theme-info, .division {
		display: none;
	}
}

.post .post-header .post-title {
	font-size: 30px;
	margin: 5px 0;
}

/*.post .post-content figure.highlight .line {
	height: 1.4em;
}*/
.post .post-content code, .post .post-content pre {
	line-height: 24px;
}

.archive .archive-post {
	padding: 12px 0;
	font-size: 18px;
	border-bottom: 1px solid #ddd;
	border-left: none;
}

.archive .archive-post .archive-post-title .archive-post-link {
	color: #333;
}

.header .site-navbar .menu .menu-item+.menu-item {
	margin-left: 20px;
}