{{ define "main" }}
    {{- $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") (index .Site.Params "archive-paginate" | default 20) }}
    <section class="page page-archive">
        <dl class="archive-list">
            {{- range $index, $element := $paginator.Pages -}}
                {{- $thisYear := $element.Date.Format "2006" }}
                {{- $lastElement := $index | add -1 | index $paginator.Pages }}
                {{ if or (eq $index 0) ( ne ($lastElement.Date.Format "2006") $thisYear ) }}
                    <dt class="archive-year">
                        {{ $thisYear }}
                    </dt>
                {{- end }}


                <dd class="archive-post">
                    <time datetime="{{ .Date.Format "2006-01-02" }}" class="post-time">
                        {{ .Date.Format (.Site.Params.dateFormatToUse | default "01-02") }}
                    </time>
                    <a href="{{ $element.RelPermalink }}" class="post-link">
                        {{ .Title }}
                    </a>
                </dd>
            {{- end -}}
        </dl>
        <!-- pagination -->
        {{ partial "pagination.html" . }}
    </section>

    
{{ end }}
