.hljs {
	padding: 1.2em;
}
.archive-list .collection-title {
	list-style-type: none;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 15px;
}
.archive-list .collection-title h2 {
	margin-bottom: 0;
}
.archive-post {
	margin-bottom: 10px;
	list-style-type: square;
}
.archive-post-time {
	font-weight: 350;
  color: #656262;
  font-size: 14px;
}
.archive-post-title{
	font-weight: 450;
	font-size: 16px;
	color: #000;
}

/*pre {
	position: relative;
}
pre:before {
	position: absolute;
	top: 0;
	right: 5px;
	content:'copy';
  display:none;
}
pre:hover:before {
	display: block;
}*/
pre {
	position: relative;
}
pre>.copy-btn {
	position: absolute;
  top: 7px;
  right: 7px;
  border: 0;
  border-radius: 4px;
  padding: 1px;
  font-size: 0.8em;
  line-height: 1.8;
  color: #fff;
  background-color: #777;
  min-width: 55px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: none;
}
pre:hover .copy-btn{
	display: block;
}
pre>.copy-btn:hover {
	color: #fff;
	text-decoration: none;
	transform: scale(1.1);
}

.github-fork-ribbon:before {
	background-color: #090;
}

.menu__btn-title {
	text-align: left;
}

.authorbox__avatar {
	border: none;
}
.authorbox__avatar .avatar {
	border-radius: 50%;
}
.authorbox {
	display: flex;
	align-items: center;
}

.imageblock {
	margin-bottom: 20px;
}

html[theme="dark-mode"] {
  filter: invert(1) hue-rotate(180deg);
}

html[theme="dark-mode"] img {
  filter: invert(1) hue-rotate(180deg);
}

html {
  transition: color 300ms;
  background-color 300ms;
}

.logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo__tagline {
	border-top: 0;
}

.toggle-theme {
	width: 100px;
	line-height: 35px;
	text-align: center;
	border: 1px solid #ddd;
	cursor: pointer;
	border-radius: 3px;
}



.terms .terms-title {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}
.terms .terms-tags {
	padding: 0 50px 50px;
}
.terms .terms-tags .terms-link {
  display: inline-block;
  position: relative;
  margin: 5px 10px;
  word-wrap: break-word;
  transition-duration: .2s;
  transition-property: transform;
  transition-timing-function: ease-out;
  font-size: 18px;
}

.terms .terms-tags .terms-link .terms-count {
  display: inline-block;
  position: relative;
  top: -8px;
  right: -2px;
  color: #c05b4d;
  font-size: 12px;
}

.post__header {
  overflow: hidden;
  display: flex;
}
.post__header .post__thumbnail {
  flex: 0 1 200px;
  margin-right: 20px;
  margin-bottom: 0;
  font-size: 0;
}
.post__header .post__header_right {
  /*padding-top: 10px;*/
  flex: 0 1 100%;
}
dl.archive-list {
  margin-left: 0;
}

@media screen and (max-width: 620px) { 
	.github-fork-ribbon {
		display: none;
	}
	pre>.copy-btn {
		display: block;
		top: 0;
		right: 0;
		min-width: unset;
		line-height: unset;
		padding: 0 2px;
	}

	.authorbox {
		flex-direction: column;
	}

	.list__header {
		overflow: hidden;
	}

	.list__thumbnail {
	  max-width: 140px;
	  margin-right: 10px;
	}

	.logo {
		flex-direction: column;
	}
	.toggle-theme {
		margin-top: 15px;
	}

	.terms .terms-tags {
		padding: 0 20px 50px;
	}

  .post__header {
    flex-direction: column;
  }
}