{
  "printWidth": 120,
  "semi": true,
  "singleQuote": false,
  "tabWidth": 4,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}