<footer class="footer">
	<div class="container footer__container flex">
		{{ partial "footer_links.html" . }}
		<div class="footer__copyright">
			&copy; {{ now.Format "2006" }} {{ .Site.Params.copyright | default .Site.Title }}.
			<span class="footer__copyright-credits">{{ T "footer_credits" | safeHTML }}</span>
      <span>本站已安全运行</span>
      <span id="times" style="color:#fff;">载入时分秒...</span>
		</div>
    <div>
      <span id="busuanzi_container_site_pv">本站总访问量<span style="color:#fff;" id="busuanzi_value_site_pv"></span>次</span>
    </div>
	</div>

  <div style="margin-top:10px;">
      <a href="https://beian.miit.gov.cn/" target="_blank">京ICP备14021004号</a>
  </div>
  
</footer>

<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<script>
var now = new Date();
function createtime() {
  var grt = new Date("06/19/2020 12:00:00"); //此处修改你的建站时间或者网站上线时间
  now.setTime(now.getTime() + 250);
  days = (now - grt) / 1000 / 60 / 60 / 24;
  dnum = Math.floor(days);
  hours = (now - grt) / 1000 / 60 / 60 - 24 * dnum;
  hnum = Math.floor(hours);
  if (String(hnum).length == 1) {
    hnum = "0" + hnum;
  }
  minutes = (now - grt) / 1000 / 60 - 24 * 60 * dnum - 60 * hnum;
  mnum = Math.floor(minutes);
  if (String(mnum).length == 1) {
    mnum = "0" + mnum;
  }
  seconds =
    (now - grt) / 1000 - 24 * 60 * 60 * dnum - 60 * 60 * hnum - 60 * mnum;
  snum = Math.round(seconds);
  if (String(snum).length == 1) {
    snum = "0" + snum;
  }
  document.getElementById("times").innerHTML = "" + dnum + " 天 " + 
    hnum + " 小时 " + mnum + " 分 " + snum + " 秒";
}
setInterval("createtime()", 250);
</script>