{{ define "main" }}
    <div class="page page-categories">
        <h1 class="title">{{ .Title }}</h1>
        <section class="list">
            {{ range .Pages.ByPublishDate.Reverse }}
                <div class="item">
                    <div class="title">
                        <a href="{{ .RelPermalink }}">{{ .Title | upper }}</a>
                    </div>
                    {{- partial "post_meta.html" . -}}
                </div>
            {{ end }}
        </section>
    </div>
    {{ partial "pagination.html" . }}
{{ end }}
