<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.Language.Lang }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ block "title" . }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
	<script>(function(d,e){d[e]=d[e].replace("no-js","js");})(document.documentElement,"className");</script>
	<meta name="keywords" content="{{ if .IsHome }}{{ .Site.Params.keywords }}{{ else }}
		{{- range $element := .Keywords -}}
			{{- $element | safeHTML -}}
		{{- end -}}
	{{ end }}">
	<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
	{{- if .Site.Params.opengraph }}
		{{ template "_internal/opengraph.html" . }}
	{{- end }}
	{{- if .Site.Params.schema }}
		{{ template "_internal/schema.html" . }}
	{{- end }}
	{{- if .Site.Params.twitter_cards }}
		{{ template "_internal/twitter_cards.html" . }}
	{{- end }}

	{{- $googleFontsLink := .Site.Params.googleFontsLink | default "https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" }}
	{{- if hasPrefix $googleFontsLink "https://fonts.googleapis.com/" }}
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//fonts.gstatic.com">
	<link rel="stylesheet" {{ printf `href="%s"` $googleFontsLink | safeHTMLAttr }}>
	{{- end }}

	{{ $style := resources.Get "css/style.css" | resources.ExecuteAsTemplate "css/style.css" . -}}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	
	{{ range .Site.Params.customCSS -}}
	<link rel="stylesheet" href="{{ . | relURL }}">
	{{- end }}

	{{- with .OutputFormats.Get "rss" }}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}

	<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}">
	{{- if not .Site.IsServer }}
		{{ template "_internal/google_analytics_async.html" . }}
	{{- end }}

	<link rel="stylesheet" href="{{ "libs/monokai-sublime.min.css" | relURL }}" />
	<link rel="stylesheet" href="{{ "libs/gh-fork-ribbon.min.css" | relURL }}" />
	<link rel="stylesheet" href="{{ "libs/pace-theme-flat-top-custom.css" | relURL }}" />

	<script src='//unpkg.com/valine/dist/Valine.min.js'></script>


	{{ $custom := resources.Get "css/custom.css" | resources.ExecuteAsTemplate "css/custom.css" . -}}
	<link rel="stylesheet" href="{{ $custom.RelPermalink }}">
	<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "https://hm.baidu.com/hm.js?79c3446ec25281e7ea9ef943aeea505a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>
</head>
<body class="body">
	<iframe allowtransparency="true" frameborder="0" width="180" height="36" scrolling="no" src="//tianqi.2345.com/plugin/widget/index.htm?s=3&z=2&t=0&v=0&d=3&bd=0&k=&f=&ltf=009944&htf=cc0000&q=1&e=1&a=1&c=54511&w=180&h=36&align=center"></iframe>
	{{ $name := .Data.Plural -}}
	<div class="container container--outer">
		{{ partial "header" . }}
		<div class="wrapper flex">
			<div class="primary">
			{{ block "main" . }}
				{{ with .Content }}
				<div class="content main__content clearfix">
					{{ . }}
				</div>
				{{ end }}
			{{ end }}
			</div>
			{{ partial "sidebar.html" . }}
		</div>
		{{ partial "footer" . }}
	</div>
	<a class="github-fork-ribbon right-top fixed" target="_blank" href="https://github.com/pengjielee" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
<script async defer src="{{ "js/menu.js" | relURL }}"></script>
{{ range .Site.Params.customJS -}}
<script src="{{ . | relURL }}"></script>
{{- end }}
{{- partial "mathjax.html" . -}}
<script src="{{ "libs/highlight.min.js" | relURL }}"></script>
<script src="{{ "libs/clipboard.min.js" | relURL }}"></script>
<!-- <script>hljs.initHighlightingOnLoad();</script> -->
<script async defer src="{{ "js/cursor-effects.js" | relURL }}"></script>
<script src="{{ "libs/pace.min.js" | relURL }}"></script>
<script type="text/javascript">
	function flashCopyMessage(el, msg) {
  el.textContent = msg;
  setTimeout(function() {
    el.textContent = "Copy";
  }, 1000);
}

document.addEventListener('DOMContentLoaded', (event) => {
  document.querySelectorAll('pre').forEach((block) => {
    hljs.highlightBlock(block);
    const copyBtn = document.createElement("a");
    copyBtn.className = 'copy-btn';
    copyBtn.textContent = 'Copy';
    block.append(copyBtn);
  });
  const clipboard = new ClipboardJS('.copy-btn', {
    target: function(trigger) {
        return trigger.previousElementSibling;
    }
	});
	clipboard.on('success', function(e) {
	    flashCopyMessage(e.trigger, 'Copied');
	    e.clearSelection();
	});
	clipboard.on('error', function(e) {
	    flashCopyMessage(e.trigger, 'Failed');
	});
});

document.addEventListener('DOMContentLoaded', () => {
	var html = document.querySelector('html');
	var toggle = document.querySelector('#toggle');

	if (localStorage.getItem('theme') === 'dark-mode') {
	  html.setAttribute('theme','dark-mode');
	}

	toggle.addEventListener('click',() => {
		var theme = html.getAttribute('theme') || '';
		if(theme && theme === 'dark-mode') {
			html.setAttribute('theme','');
		} else {
			html.setAttribute('theme','dark-mode');
		}
		localStorage.setItem('theme', html.getAttribute('theme'));
	});
});
</script>
</body>
</html>