<script src="{{ "js/highlight.min.js" | relURL }}"></script>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", (event) => {
    		let size = 16;
    		const content = document.querySelector("#content");
        document.querySelectorAll("pre").forEach((block) => {
            hljs.highlightBlock(block);
        });
        document.querySelector("#increase").onclick = function(){
        	size++;
        	content.style.fontSize = `${size}px`;
        }
        document.querySelector("#decrease").onclick = function(){
        	size--;
        	content.style.fontSize = `${size}px`;
        }
    });
</script>
